/* FONTS */
@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'), url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../font/Roboto-Regular.woff2') format('woff2'), url('../font/Roboto-Regular.woff') format('woff'), url('../font/Roboto-Regular.ttf') format('truetype'), url('../font/Roboto-Regular.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto-Regular.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'), url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../font/Roboto-Regular.woff2') format('woff2'), url('../font/Roboto-Regular.woff') format('woff'), url('../font/Roboto-Regular.ttf') format('truetype'), url('../font/Roboto-Regular.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../font/Roboto-Bold.woff2') format('woff2'), url('../font/Roboto-Bold.woff') format('woff'), url('../font/Roboto-Bold.ttf') format('truetype'), url('../font/Roboto-Bold.svg#Roboto') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../font/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../font/Roboto-Bold.woff2') format('woff2'), url('../font/Roboto-Bold.woff') format('woff'), url('../font/Roboto-Bold.ttf') format('truetype'), url('../font/Roboto-Bold.svg#Roboto') format('svg');
}

/* GENERAL & RESPONSIVE */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

pre {
    overflow: auto;
}

.content, #nav {
    max-width: 800px;
}

@media (min-width: 800px) {
    .content, #nav {
        margin: 0 auto;
    }
}
@media (max-width: 800px) {
    .content, #nav {
        margin: 0 20px;
    }
}

@media (min-width: 1220px) {
    #TableOfContents {
        width: 197px;
        position: fixed;
        top: 20px;
        right: 10px;
    }
}
@media (max-width: 1220px) {
    #TableOfContents {
        max-width: 800px;
        margin: 0 auto;
    }
}
@media (max-width: 800px) {
    #TableOfContents {
        max-width: 800px;
        margin: 0 20px;
    }
}

/* NAV */
#nav {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#logo {
    font-size: 25pt;
    font-weight: 700;
}

#logo a {
    color: #000;
}
#logo a::after {
    color: #000;
    height: 1.1em;
}

#nav-right {
    width: 100%;
    text-align: right;
}

.nav-element {
    font-size: 15pt;
    padding: 6px 12px;
    margin: 0 4px;
    border: 2px solid #f7cec0;
}

.nav-element::after {
    display: none;
}

.nav-element:hover {
    background: #fffaf7;
}

/* TOC */
#TableOfContents {
    border-left: 3px solid #ff8259;
}

#TableOfContents > ul {
    margin-top: 8px;
    margin-bottom: 8px;
}

#TableOfContents ul {
    list-style: none;
    padding-left: 10px;
}
#TableOfContents a {
    font-weight: 700;
}

#TableOfContents li:not(:first-child), #TableOfContents li li {
    margin-top: 8px;
}


/* LINKS */
a {
    text-decoration: none;
    color: #ff8259;
    display: inline-block;
    position: relative;
    -webkit-transition: all 500ms ease;
       -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
            transition: all 500ms ease;
}
a::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    color: #ff8259;
    height: 0.9em;
    width: 0%;
    border-bottom: 2px solid;
    margin-top: 5px;
    -webkit-transition: all 500ms ease;
       -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
            transition: all 500ms ease;
}

a:hover::after, a.selected::after {
    color: #f25f2e;
    width: 100%;
}
a:hover, a.selected {
    color: #f25f2e;
}

/* POST */
.post-title {
    margin-bottom: 5px;
}
.title-sub {
    opacity: 0.7;
    font-size: 11pt;
}
hr {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #8a8a8a;
    max-width: 100px;
}

/* LIST */
.post-in-list {
    margin-left: 20px;
}
.post-in-list .date {
    opacity: 0.5;
    width: 50px;
    display: inline-block;
}

/* FOOTER */
.footer {
    margin: 20px auto;
    padding-top: 20px;
    border-top: 2px solid #c4c4c4;
    color: #444;
    font-size: 10pt;
}
