<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Site.Param "description" }}">
    <meta name="author" content="{{ .Site.Title }}">
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="/index.xml">
    {{ .Hugo.Generator }}
    <!-- Favicon once we have a logo -->

    <title>{{ if and .Title (ne .Title .Site.Title) }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:image" content="todo">
    <meta property="og:url" content="{{ .Site.BaseURL }}{{ with .URL }}{{ . }}{{ end }}">
    <!-- TODO: more og -->
</head>
<body>
    <div id="nav">
        <div id="logo">
            <a href="/">{{ .Site.Title }}</a>
        </div>
        {{/*<div id="nav-right">
            {{ range .Site.Param "sections" }}
                <a class="nav-element" href="{{ .path }}">{{ .name }}</a>
            {{ end }}
        </div>*/}}
    </div>
