<div class="content">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="title-sub">{{ if .Draft }}Draft written{{ else }}Published{{ end }} <span title="{{ .Date }}">{{ dateFormat "02/01/2006" .Date }}</span> by {{ with .Param "author" }}{{ . }}{{ else }}{{ .Site.Author }}{{ end }} &bull; <span title="{{ .WordCount }} words">{{ if eq .ReadingTime 1 }}1 minute{{ else }}{{ .ReadingTime }} minutes{{ end }}</span></div>
    {{ .Content }}
</div>