{{ partial "header" . }}
    <div class="content">
        <h1>
            {{ if eq .Data.Singular "category" }}
                Category:
            {{ end }}
            {{ humanize .Data.Term }}
        </h1>
        {{ range .Data.Pages.GroupByDate "2006" }}
            <h3>{{ .Key }}</h3>
            {{ partial "list" .Pages }}
        {{ end }}
    </div>
{{ partial "footer" . }}