{{ partial "header" . }}
    <div class="content">
        {{.Content}}
    </div>
    <div class="content">
        <h3>Latest posts</h3>
        {{ partial "list" (first 5 (where .Data.Pages "Section" "posts")) }}
    </div>
{{ partial "footer" . }}